<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %} FORUM {% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href=" {{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body>
<div class="top-header">
    <h2>Forum des siphonnés du bocal !</h2>
</div>
<div id="menu">
    <ul class="nav nav-pills">
        <li><a href="{{ path('rt_platform_home') }}" class="btn btn-primary">Accueil</a></li>
        <li><a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">Inscription</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('rt_platform_add') }}" class="btn btn-primary">Ajouter un thème</a></li>
            <li><a href="{{ path('rt_platform_listUsers') }}" class="btn btn-primary">Lister les participants</a></li>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">Modifier le profil</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary">Déconnexion</a></li>
        {% else %}
        <li><a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">Connexion</a></li>
        {%  endif %}


    </ul>

        {#<h4>Les derniers thèmes ajoutés : </h4>
        {{ render(controller("RTPlatformBundle:Advert:menu")) }}#}
</div>
<div class="main-content">
{% block body %}
{% endblock %}
</div>
<div style="margin-bottom: 50px;">

</div>
<footer>
    <h4>Designed by Romain TELLIER | UPJV Licence pro web développeur | © {{ 'now'|date('Y-m-d') }}</h4>
</footer>

</body>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</html>