{% extends "RTPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block rtplatform_body %}

  <h2>Liste des thèmes</h2>

  <ul>
      {% for theme in listTheme %}
        <li>
          <a href="{{ path('rt_platform_view', {'id': theme.id}) }}">
              {{ theme.titre }}
          </a>
         {# par {{ advert.author }},
          le {{ advert.date|date('d/m/Y') }}#}
        </li>
      {% else %}
        <li>Pas (encore !) d'annonces</li>
      {% endfor %}
  </ul>

{% endblock %}
