{% extends "RTPlatformBundle::layout.html.twig" %}

{% block title %}
    Lecture d'un thème - {{ parent() }}
{% endblock %}

{% block rtplatform_body %}

    <h2>{{ theme.titre }}</h2>
    {#<i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

    <div class="well">
        {{ advert.content }}
    </div>#}

    <p>
        <a href="{{ path('rt_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path('rt_platform_edit', {'id': theme.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier le thème
        </a>
        <a href="{{ path('rt_platform_delete', {'id': theme.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer le thème
        </a>
    </p>
    <div>
        {% for discussion in listDiscussions %}
            <h4>{{ discussion.heure |date('H:i:s')}}</h4>
            <h4>{{ discussion.date |date('Y-m-d')}}</h4>
            <h4>{{ discussion.pseudo }}</h4>
            <h4>{{ discussion.content }}</h4>
            <br>
            <a href="{{ path('rt_platform_deleteDiscussion', {'id_discussion': discussion.id}) }}" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i>
                Supprimer cette annonce
            </a>
            <hr>
        {% endfor %}
        </div>
{% include ('@RTPlatform/Advert/addDiscussion.html.twig') %}
{% endblock %}