{% extends "RTPlatformBundle::layout.html.twig" %}

{% block title %}
    Lecture d'un thème - {{ parent() }}
{% endblock %}

{% block rtplatform_body %}

    <h2>Thème : {{ theme.titre }}</h2>
    {#<i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

    <div class="well">
        {{ advert.content }}
    </div>#}

    <p>
        <a href="{{ path('rt_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
    {% if is_granted('ROLE_ADMIN') %}

        <a href="{{ path('rt_platform_edit', {'id': theme.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier le thème
        </a>
        <a href="{{ path('rt_platform_delete', {'id': theme.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer le thème
        </a>
    {% endif %}
    </p>
    <div>
        <div class="count" style="text-align: center;">
            Nombre de discussions pour ce thème : {{ listDiscussions.getTotalItemCount }}
        </div>
        <br>
        <div class="text-center nav">{{ knp_pagination_render(listDiscussions) }}</div>
        <br>
        {% if is_granted('ROLE_USER') %}

        <a href="#ajout-discussion" class="btn btn-success">
            <i class="glyphicon glyphicon-edit"></i>
            Ajouter une discussion
        </a>
        {%  endif %}
        <br>
        <br>
        {% for discussion in listDiscussions %}
            <div class="well background-well">
                <span>A : <b>{{ discussion.heure |date('H:i:s')}}</b></span>
                <span style="padding-left: 20px;"> Le : <b>{{ discussion.date |date('Y-m-d')}}</b></span>
                <span style="padding-left: 20px;">Pseudo : <b>{{ discussion.pseudo }}</b></span>
                <h4>{{ discussion.content }}</h4>
                <br>
                {% if is_granted('ROLE_ADMIN') %}

                    <a href="{{ path('rt_platform_deleteDiscussion', {'id_discussion': discussion.id}) }}" class="btn btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                    Supprimer cette discussion
                </a>
                <a href="{{ path('rt_platform_edit_discussion', {'id': discussion.id}) }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-edit"></i>
                    Modifier la discussion
                </a>
                    {% endif %}
            </div>
            <hr>
        {% endfor %}
        </div>
    <div id="ajout-discussion">
        {% if is_granted('ROLE_USER') %}
            {% include ('@RTPlatform/Advert/form_discussion.html.twig') %}
        {% endif %}
    </div>
    <div class="text-center nav">{{ knp_pagination_render(listDiscussions) }}</div>

{% endblock %}