{% extends "RTPlatformBundle::layout.html.twig" %}

{% block title %}
    Lecture d'un thème - {{ parent() }}
{% endblock %}

{% block rtplatform_body %}

    <h2>Thème : {{ theme.titre }}</h2>
    {#<i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

    <div class="well">
        {{ advert.content }}
    </div>#}

    <p>
        <a href="{{ path('rt_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
    {% if is_granted('ROLE_USER') %}

        <a href="{{ path('rt_platform_edit', {'id': theme.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier le thème
        </a>
        <a href="{{ path('rt_platform_delete', {'id': theme.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer le thème
        </a>
    {% endif %}
    </p>
    <div>
        <div class="count" style="text-align: center;">
            Nombre de discussions pour ce thème : {{ listDiscussions.getTotalItemCount }}
        </div>
        <br>
        <div class="text-center nav">{{ knp_pagination_render(listDiscussions) }}</div>
        <br>
        {% for discussion in listDiscussions %}
            <h4>{{ discussion.heure |date('H:i:s')}}</h4>
            <h4>{{ discussion.date |date('Y-m-d')}}</h4>
            <h4>{{ discussion.pseudo }}</h4>
            <h4>{{ discussion.content }}</h4>
            <br>
            {% if is_granted('ROLE_USER') %}

                <a href="{{ path('rt_platform_deleteDiscussion', {'id_discussion': discussion.id}) }}" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i>
                Supprimer cette annonce
            </a>
            <a href="{{ path('rt_platform_edit_discussion', {'id': discussion.id}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i>
                Modifier la discussion
            </a>
                {% endif %}
            <hr>
        {% endfor %}
        </div>
        {% if is_granted('ROLE_USER') %}
            {% include ('@RTPlatform/Advert/form_discussion.html.twig') %}
        {% endif %}
    <div class="text-center nav">{{ knp_pagination_render(listDiscussions) }}</div>

{% endblock %}